---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main
    class="min-h-screen text-white max-w-[768px] m-auto py-32 flex flex-col gap-8 flex justify-center items-left px-4 sm:px-0"
  >
    <h1 class="text-7xl font-extrabold leading-snug z-40">About</h1>
    <p>
      HighProm.pt is a collection of prompts that cannot be easily written by non-experts. We gather these prompts from
      various sources, and they are written in specialized language, include specific techniques to be applied, or have
      other characteristics that require specialized knowledge to create.
    </p>
  </main>
</MainLayout>
