---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main
    class="min-h-screen text-white max-w-[768px] m-auto py-32 flex flex-col gap-8 flex justify-center items-left px-4 sm:px-0"
  >
    <h2 class="text-6xl font-extrabold leading-snug z-40">Contribute</h2>
    <p>
      We welcome contributions of high-quality prompts to HighProm.pt! If you have a prompt idea that you believe meets
      our standards, please submit a pull request on our <a
        class="underline"
        href="https://github.com/bureau-bombig/highprom.pt">Github repo</a
      >. Please note that we aim to avoid duplicate prompts or prompts with similar output. We test every prompt and
      only consider those that provide a unique or specialized perspective that users cannot easily create on their own.
    </p>
    <p>
      If you don't use Github, no problem! You can still get in touch with us by sending an email to <a
        href="mailto:bureau@bombig.net"
        class="underline">bureau@bombig.net</a
      >. We're happy to help answer any questions you have about HighProm.pt.
    </p>
  </main>
</MainLayout>
