---
import { Icon } from "astro-icon";
const { text, icon, className } = Astro.props;
---

<button
  class={`rounded-md bg-white py-2 px-2 text-xs sm:text-base sm:py-3 sm:px-4 text-slate-900 font-semibold flex flex-row justify-center items-center gap-2 ${className}`}
>
  {icon && <Icon name={icon} height="24" />}
  {text && text}
</button>
