---
---

<footer class="bg-slate-950 p-6 flex justify-center">
  <span class="text-sm text-slate-500"
    >Made by <a href="https://www.bombig.net" target="_blank" rel="noreferrer noopener">Bombig</a> with <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener">Astro</a
    ></span
  >
</footer>
